{% extends 'plantillas/base.html' %} {% block navbar %}
<div
  class="navbar navbar-expand-lg fixed-top"
  data-bs-theme="light"
  style=""
>
  <div class="container">
    <a
      class="nav-link navbar-brand-link {% if request.resolver_match.url_name == 'producto_create' %}active{% endif %}"
      href="{% url 'producto_create' %}"
      >Registrar pedido</a
    >
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarResponsive" style="">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            href="/listar/?estado=despachado"
            class="nav-link {% if request.resolver_match.url_name == 'producto_listar' %}active{% endif %}"
          >
            Despachados
          </a>
        </li>
        <li class="nav-item">
          <a
            href="{% url 'confirmar_recogida' %}"
            class="nav-link {% if request.resolver_match.url_name == 'confirmar_recogida' or request.resolver_match.url_name == 'confirmar_recogida_pedido' %}active{% endif %}"
          >
            🛵 Confirmar recogida
          </a>
        </li>
        <li class="nav-item">
          <a
            href="{% url 'clientes_listar' %}"
            class="nav-link {% if request.resolver_match.url_name == 'clientes_listar' or request.resolver_match.url_name == 'cliente_crear' or request.resolver_match.url_name == 'cliente_editar' %}active{% endif %}"
          >
            📍 Direcciones
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
